<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/baselogin.css">
    <title>Jeremiah - {%block title %}{%endblock%}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
  </head>
<body>
  {% for message in get_flashed_messages() %}
  {% if message == 'Invalid username or password.' %}
      <div class="alert alert-danger w-25 text-center pito" >{{ message }}</div>
      {% elif message == 'Registration successful. Please log in.' %}
      <div class="alert alert-success w-25 text-center pito" >{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% block login %}{% endblock %}
  <p class="mt-5 mb-3 text-muted text-center">JEREMIAH&copy; 2023–2033</p>
</body>
</html>