{% extends "base.html" %}
{%block main%}
    <h1>Register</h1>
    <form method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username"
                   placeholder="Enter your Username">
            </input>
        </p>

        <p>
            <label for="email">Email</label>
            <input type="email" name="email"
                   placeholder="example@xyz.com">
            </input>
        </p>

        <p>
            <label for="password">password</label>
            <input type="password" name="password"
                   placeholder="Enter your Password">
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}